html {
    background-image: url(http://files.catbox.moe/ce9507.jpg);
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

p, label {
  color: white;
}

footer a {
    color: #222;
    text-decoration: none;
}

.app {
    margin-top: 10%;
}

h4 {
    font-weight: 500;
    color: #32EC9B;
}

span {
    color: #0ED2F9;
    font-size: 18px;
}

@media (max-width: 550px) {
    footer {
        text-align: center;
    }
}
